@mixin linear-gradient($color1,$color2){
  background: -webkit-gradient(linear, 0 0, 0 100%, from($color1), to($color2));
  background: -webkit-linear-gradient($color1,$color2);
  background: -moz-linear-gradient($color1,$color2);
  background: -o-linear-gradient($color1,$color2);
  background: linear-gradient($color1,$color2);
}

html, body{
  margin:0;
  padding:0;
}